@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.categories{
    text-align: center;
    &__title{
        color: $primary-gray;
        margin-block: 0.5rem;
    }
    &__list{
        padding: 0;
    }
    &__item{
        @include btnStyle;
        color: $secondary-gray;
        border:0.125rem solid $secondary-gray;
        &:hover{
            color: $Primary-Black;
        }
    }
}
